/* app css stylesheet */

.page-header {
  padding-top: 40px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.navbar-inverse .navbar-brand {
  color: skyblue;
}

.navbar-inverse .navbar-brand:hover {
  color: lightgrey;
}

.navbar-inverse {
  background-color: #337ab7;
  border-color: #337ab7;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: lightgrey;
}